
target/*
target/classes/.DS_Store
target/test-classes/elementTest.class
target/test-classes/baseTest.class
target/classes/Steps/elementSteps.class
target/classes/Pages/elementsPage.class
.idea/compiler.xml
.idea/runConfigurations.xml
.idea/workspace.xml
